body{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none    ;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 1rem;
    color: white;
}
nav a:hover {
    color: rgb(0, 0, 0);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 4rem;
    
}
.hero img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-right: 3rem;
}
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.skill {
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}
.project-card {
  background-color: #ffc400;
  padding: 1rem;
  border-left: 5px solid #ffc107;
  border-radius: 5px;
  margin-top: 1rem;
}
.social-icons i {
  font-size: 2rem;
  margin-right: 15px;
  color: #444;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #007bff;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
}
